*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#ff4d6d,#ff8fab,#ffccd5,#ffc2d1);

background-size:400% 400%;

animation:bg 12s ease infinite;

}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.container{

width:90%;

max-width:700px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

padding:40px;

border-radius:25px;

text-align:center;

box-shadow:0 20px 60px rgba(0,0,0,.2);

color:white;

animation:fade 2s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

h1{

font-family:'Great Vibes',cursive;

font-size:70px;

margin-bottom:10px;

}

h2{

height:40px;

font-size:25px;

margin-bottom:25px;

}

.quote{

font-size:18px;

line-height:1.8;

opacity:.95;

margin-bottom:30px;

}

button{

padding:16px 35px;

border:none;

border-radius:50px;

font-size:18px;

cursor:pointer;

background:white;

color:#ff3366;

font-weight:bold;

transition:.4s;

}

button:hover{

transform:scale(1.08);

box-shadow:0 0 30px pink;

}

#messageBox{

display:none;

margin-top:30px;

animation:fade 1s;

}

#messageBox h3{

font-size:45px;

font-family:'Great Vibes';

margin-bottom:20px;

}

#messageBox p{

line-height:2;

font-size:18px;

}

.counter{

margin-top:35px;

}

.counter h4{

font-size:22px;

margin-bottom:10px;

}

#timer{

font-size:18px;

font-weight:bold;

}

.heart{

position:absolute;

color:white;

animation:float linear forwards;

pointer-events:none;

}

@keyframes float{

from{

transform:translateY(100vh);

opacity:1;

}

to{

transform:translateY(-10vh);

opacity:0;

}

}

.spark{

position:absolute;

width:8px;

height:8px;

background:white;

border-radius:50%;

pointer-events:none;

animation:spark .8s linear forwards;

}

@keyframes spark{

to{

transform:translateY(-40px) scale(0);

opacity:0;

}

}

@media(max-width:600px){

h1{

font-size:55px;

}

h2{

font-size:20px;

}

.quote{

font-size:16px;

}

}
